[Unit]
Description=Barcode Camera
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/barcode_camera
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/admin/barcode_camera/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
